body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6
}

a {
  color: #00B7FF;
}
#form {
  float: right;
  padding-right: 100px;
  font-size: 24px;
  width: 35%;
  margin-top: 30px;
  margin-right: 200px;
}

#form label {
  color: #000;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 47px;
  margin-left: 23px;
  padding-bottom: 25px;
  width: 100%;
}

/*#form input,*/
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 98%;
  float: right;

}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error-message {
  background: #C70039;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 28%;
  text-align: center;
  margin-left: 54%;
  font-size: 20px;
}
 .name{
   width: 47%;
 }
input{
  padding-left: 20px;
  padding-right: 74px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  width: -webkit-fill-available;
  margin-left: 2%;
  border: 1px solid #bdc7d8;
}
.signup-facebook-google{
  width: -webkit-fill-available;
  display: flex;
  padding-left: 900px;

}
.p{
  float: right;
  width: 34%;
  font-size: 20px;
  display: flex;


}
.nav-bar{
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  min-height: 85px;
}
.nav{
  float: right;
}
h1{
  padding-left: 99px;
  font-size: 3em;
  padding-top: 25px;
  color: #FFF;
  width: 30%;
  margin: -28px 12%;
  position: absolute;
  top: 27px;
  text-align: center;
}
h2{
  padding-left: 777px;
  padding-top: 25px;
  color: #FFF;
  margin: -28px 12%;
  position: absolute;
  top: 27px;
  text-align: center;
}
.img{
  vertical-align: middle;
  width: 140px;
  margin-left: 10%;
}
.img-profile{
  vertical-align: middle;
  width: 140px;
  margin-left: 20%;
}

.login{
  display: flex;
  padding-top: 65px;
  float: right;
  padding-right: 360px;
  width: 42%;
}
.login-label{
  color: #fff;
}
.login-button{
  color: #FFF;
  background: transparent;
  height: 39px;
  padding-right: 10px;
  margin-left: 20px;
}
.food{
  background-color: #FFF;
  height: -webkit-fill-available;
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid;
  font-size: 25px;
  padding-top: 10px;
}
/* Fix user-agent */


ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  margin-top: 5%;
  height: 70%;
  position: absolute;
  width: 40%;
  margin-left: 5%;
  display: flex;

}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;

}

.inputMessage {
  font-size: 100%;
}

.log {
  color: #656565;
  font-size: 75%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
  border: 2px solid;
  width: 100%;
  border-radius: 10px;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/87/91/fd/8791fda447b7bab3b7ade8f55e87192b.jpg");
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;

}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 1px solid #000;
  bottom: 0;
  height: 50px;
  left: 0;
  outline: none;
  padding-left: 10px;
  width: 94%;
  font-size: 25px;
  margin-left: 3%;

}
.li-message{
  display: list-item;
  background-color: #FFF;
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.myProfile{
  float: right;
  margin-top: 26px;
  padding-right: 35px;
  font-size: 24px;
  color: #FFF;
}
.myProfile:hover{
  color: #FFF;
  text-decoration: none;

}
