body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.FxX3s1EPmIqLoc7YkX2WMAE8DF&pid=15.1&P=0&w=271&h=170");
  background-size: cover;
  background-repeat: no-repeat;

}

a {
  color: #00B7FF;
}
#form {
  float: right;
  padding-right: 100px;
  font-size: 24px;
  width: 35%;
  margin-top: 30px;
  margin-right: 200px;
}

#form label {
  color: #000;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 47px;
  margin-left: 23px;
  padding-bottom: 25px;
  width: 100%;
}

/*#form input,*/
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 98%;
  float: right;

}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error-message {
  background: #C70039;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 28%;
  text-align: center;
  margin-left: 54%;
  font-size: 20px;
}
 .name{
   width: 47%;
 }
input{
  padding-left: 20px;
  padding-right: 74px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  width: -webkit-fill-available;
  margin-left: 2%;
  border: 1px solid #bdc7d8;
}
.signup-facebook-google{
  width: -webkit-fill-available;
  display: flex;
  padding-left: 900px;

}
.p{
  float: right;
  width: 34%;
  font-size: 20px;
  display: flex;
  color: #FFF;


}
.nav-bar{
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  min-height: 85px;
}
.nav{
  float: right;
}
h1{
  padding-left: 99px;
  font-size: 3em;
  padding-top: 25px;
  color: #FFF;
  width: 30%;
  margin: -13px 4%;
  position: absolute;
  top: 27px;
  text-align: center;
  font-family: Lobster ;
}
.h2{
  padding-left: 777px;
  padding-top: 25px;
  color: #FFF;
  margin: -28px 12%;
  position: absolute;
  top: 27px;
  text-align: center;
}


.img{
  vertical-align: middle;
  width: 11%;
  margin-left: 5%;
}
.img-profile{
  vertical-align: middle;
  width: 11%;
  margin-left: 4%;
}

.login{
  display: flex;
  padding-top: 65px;
  float: right;
  padding-right: 360px;
  width: 42%;
}
.login-label{
  color: #fff;
}
.login-button{
  color: #FFF;
  background: transparent;
  height: 39px;
  padding-right: 10px;
  margin-left: 20px;
}
.food{
  margin-top: 30px;
  border-top: 1px solid;
  font-size: 25px;
  padding-top: 10px;
}
.food-p{
  margin-top: 18%;
  padding-left: 15px;
}
/* Fix user-agent */


ul {
  list-style: none;
  margin-bottom: 25px;

}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  margin-top: 5%;
  height: 70%;
  position: absolute;
  width: 40%;
  margin-left: 5%;
  display: flex;

}

/* Login Page */

.login.page {
  /*background-image: url("http://wallpapershome.com/images/wallpapers/spectrum-electromagnetic-3840x2160-lines-violet-background-11331.jpg");*/
  border-radius: 15px;
  border: 1px solid;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #000;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;

}

.inputMessage {
  font-size: 100%;
}

.log {
  color: #FFF;
  font-size: 75%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
  border: 2px solid;
  width: 100%;
  border-radius: 10px;
  /*background-image: url("https://www.photohdx.com/images/2016/04/blue-grunge-fabric-texture-background.jpg");*/
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;

}

.message.typing .messageBody {
  color: #FFF;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 1px solid #000;
  width: 88%;
  font-size: 25px;
  float: left;
  outline: none;

}
.li-message{
  display: list-item;
  background-color: #FFF;
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}

/* NAV LOGIN */
.img-list{
  vertical-align: middle;
  width: 20%;
  margin-left: 3px;
}
.myList{
  float: right;
  margin-top: 70px;
  font-size: 24px;
  color: #FFF;
  width: 11%;
  margin-right: 35px;
}
.myList:hover{
  color: #FFF;
  text-decoration: none;
}
.contacts-img{
  vertical-align: middle;
  width: 20%;
  margin-left: 3px;
}
.contacts{
  float: right;
  margin-top: 70px;
  font-size: 24px;
  color: #FFF;
  width: 11%;
  margin-right: -10px;
}
.contacts:hover{
  color: #FFF;
  text-decoration: none;
}
.home-img{
  vertical-align: middle;
  width: 30%;
  margin-left: 3px;
}
.home{
  float: right;
  margin-top: 63px;
  font-size: 24px;
  color: #FFF;
  width: 10%;
}
.home:hover{
  color: #FFF;
  text-decoration: none;
}



.img-nav-login{
  width: 35px;
  margin-left: 10px;
}
.myProfile{
  float: right;
  margin-top: 70px;
  padding-right: 35px;
  font-size: 24px;
  color: #FFF;
}
.myProfile:hover{
  color: #FFF;
  text-decoration: none;
}
.log-out-img{
  width: 35px;
  margin-left: 10px;
}
.log-out{
  float: right;
  margin-top: 70px;
  font-size: 24px;
  color: #FFF;
}
.log-out:hover{
  color: #FFF;
  text-decoration: none;
}


.button-emoji{
  padding: 7px;
  border-radius: 35px;
  margin-left: 13px;
  margin-top: 5px;
  float: left;
  outline: none;
  border: 1px solid;
  box-shadow: 0px 0px 15px;
}
.img-emoji-btn{
  background-image: url("http://3.bp.blogspot.com/-KXkwqMf_5U0/VcsSJuhnQzI/AAAAAAAAAUs/9UcYoc7OuNw/s1600/55bb5072f3b1a.png");
  width: 25px;
}
#image-box {
  width: 40%;
  min-height: 300px;
  border: 1px solid black;
  background-color: #f0f0f0;
  margin-left: 55%;
  align-content: flex-end;
  margin-top: 25%;
  border-radius: 8px;
  display: none;

}

/* contacts add button */
.button-plus{
  padding: 0;
  border-radius: 35px;
  margin-top: -20px;
  float: right;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
}
.img-plus-btn{
  background-image: url("http://3.bp.blogspot.com/-KXkwqMf_5U0/VcsSJuhnQzI/AAAAAAAAAUs/9UcYoc7OuNw/s1600/55bb5072f3b1a.png");
  width: 35px;
}

.add-contacts{
  font-size: 20px;

}
#btn-plus {
  width: 60%;
  min-height: 300px;
  border: 1px solid black;
  background-color: #f0f0f0;
  margin-left: 20%;
  align-content: flex-end;
  margin-top: 4%;
  border-radius: 8px;
  display: none;
  background-color: #4c67a1;

}

#first-name, #last-name{
  width: 248px;
  border-bottom: 2px solid;
}
#phone, #email{
  width: 60%;
  border-bottom: 2px solid;
}
.save-btn{
  margin-left: 17px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}


.visible {
  visibility: visible;
}

/* all room here */
.div-profile{
  width: 96%;
  float: right;
  border: 1px solid;
  margin-right: 30px;
  margin-top: 35px;
  border-radius: 15px;
  padding: 3%;
  margin-bottom: 40px;
  font-size: 20px;

}
.contact-title{
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 340px;
  color: #FFF;
}
/* I repeat this beacuse its needed and the only the change is the with*/
.list-contacts{
  font-size: 2em;
  outline: transparent;
  color: #FFF;
  text-align: center;
  background: transparent;
  border: transparent;
  display: block;
  margin-left: 40%;
}
.list-contacts:hover{
  color: #FFF;
  text-decoration: none;
}
.list-contact{
  font-size: 2em;
  outline: transparent;
  color: #FFF;
  text-align: center;
  background: transparent;
  border: transparent;
  display: block;

}
.list-contact:hover{
  color: #FFF;
  text-decoration: none;
}
.welcome{
  float: right;
  font-size: 15px;
  margin-right: 15px;
  margin-top: 15px;
  color: #FFF;
}
.panel{
  background-color: transparent;
  display: none;

}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f500;
    border-color: #0000;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    float: right;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.panel-body {
    padding: 15px;
    padding-top: 50px;

}
.list-add{
  width: 70%;
border: 1px solid;
border-radius: 5px;
padding: 40px;
}
#content{
  width: 90%;
  padding: 15px;
  background-color: #5e8ebe;
  border: 1px solid;
  border-radius: 5px;
  font-size: 25px;
}
.edit{
  font-family: monospace;
  color: #000;
  text-decoration: none;
}

.line-down{
  border-bottom: 1px solid #1a95ff;
  width: fit-content;
}
.all-users{
  color: #FFF;
  font-size: 35px;
  margin-left: 20%;
}
.all-users:hover{
  color: #FFF;
  text-decoration: none;
}
.all-contacts{
  color: #FFF;
  font-size: 35px;
  margin-left: 35%;
}
.all-contacts:hover{
  color: #FFF;
  text-decoration: none;
}
.down{
  border-bottom: 1px solid #000;
  width: fit-content;
}
.user-and-contacts{
  color: #FFF;
  text-align: center;
  font-size: 40px;
}
