<div class="nav-bar">
  <a class="myProfile" href="/myProfile">My Profile</a>
  <img class="img-profile" src="https://damonbraces.com/img/bethany-hamilton/emoji/DamonBraces_S016.png" />
  <%# <img src="http://www.pngmart.com/files/1/Kiss-Smiley-PNG-Image-359x279.png" />%>
</div>
<ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages">

        </ul>
        <input class="inputMessage" placeholder="Type here..."/>
      </div>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname Chat?</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
