<div class="nav-bar">
  <h2 class="welcome">Welcome <%= currentUser.firstName +" "+ currentUser.lastName %></h2>
  <a class="log-out" href="/logout"data-toggle="tooltip" data-placement="bottom" title="Log Out">Log out<img class="log-out-img" src="https://openclipart.org/image/2400px/svg_to_png/196995/mono-exit.png" /></a>
  <a class="myProfile" href="/profile"data-toggle="tooltip" data-placement="bottom" title="My Profile">My Profile<img class="img-nav-login" src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" /></a>
  <a class="myList" href="/list"data-toggle="tooltip" data-placement="bottom" title="My Goals">My Goals<img class="img-list" src="https://cdn3.iconfinder.com/data/icons/business-212/48/checklist-512.png"></a>
  <a class="contacts" href="/contacts"data-toggle="tooltip" data-placement="bottom" title="Contacts">Contacts<img class="contacts-img" src="https://cdn3.iconfinder.com/data/icons/users/100/contacts_book-512.png"></a>
  <a class="home" href="/publicChat"data-toggle="tooltip" data-placement="bottom" title="Home">Home<img class="home-img" src="http://dougbond.com/images/home-icon.png"></a>
  <img class="img-profile" src="https://res.cloudinary.com/crunchbase-production/image/upload/v1454008732/mnno8g6ae7mcjnawnfpx.png" />
  <h1><%= title %></h1>
</div>


<!-- Profile Texts -->
<div class="div-profile">

  <button type="button" class="button-plus" data-container="body" data-toggle="popover" data-placement="right">
    <img class="img-plus-btn"src="https://cdn2.iconfinder.com/data/icons/picons-essentials/71/user_add-512.png" />
  </button>

  <a class="list-contact" href="my-list-contacts">List Contacts</a>

  <div id="btn-plus">
    <ul>

      <h2 class="contact-title">New Contact</h2>

      <form class="add-contacts" method="post" action="/contact">

        <input id="first-name" type="text" placeholder="First Name"
        name="firstN">

        <input id="last-name" type="text" placeholder="Last Name"
        name="lastN">

        <br />

        <input id="phone" type="text" placeholder="Phone Number"
        name="phoneN">
        <br />

        <input id="email" type="email" placeholder="Email Address"
        name="emailN">
        <br />

        <button class="save-btn"> Save </button>
      </form>


    </ul>
  </div>

</div>
