<div class="nav-bar">
  <h2 class="welcome">Welcome <%= currentUser.firstName +" "+ currentUser.lastName %></h2>
  <a class="log-out" href="/logout"data-toggle="tooltip" data-placement="bottom" title="Log Out">Log out<img class="log-out-img" src="https://openclipart.org/image/2400px/svg_to_png/196995/mono-exit.png" /></a>
  <a class="myProfile" href="/profile"data-toggle="tooltip" data-placement="bottom" title="My Profile">My Profile<img class="img-nav-login" src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" /></a>
  <a class="myList" href="/list"data-toggle="tooltip" data-placement="bottom" title="My Goals">My Goals<img class="img-list" src="https://cdn3.iconfinder.com/data/icons/business-212/48/checklist-512.png"></a>
  <a class="contacts" href="/contacts"data-toggle="tooltip" data-placement="bottom" title="Contacts">Contacts<img class="contacts-img" src="https://cdn3.iconfinder.com/data/icons/users/100/contacts_book-512.png"></a>
  <a class="home" href="/publicChat"data-toggle="tooltip" data-placement="bottom" title="Home">Home<img class="home-img" src="http://dougbond.com/images/home-icon.png"></a>
  <img class="img-profile" src="https://res.cloudinary.com/crunchbase-production/image/upload/v1454008732/mnno8g6ae7mcjnawnfpx.png" />
  <h1><%= title %></h1>
</div>


<!-- Profile Texts -->
<div class="div-profile">
  <h2>hello word</h2>
</div>
