<div class="nav-bar">
  <h2 class="welcome">Welcome <%= currentUser.firstName +" "+ currentUser.lastName %></h2>
  <a class="log-out" href="/logout"data-toggle="tooltip" data-placement="bottom" title="Log Out">Log out<img class="log-out-img" src="https://openclipart.org/image/2400px/svg_to_png/196995/mono-exit.png" /></a>
  <a class="myProfile" href="/profile"data-toggle="tooltip" data-placement="bottom" title="My Profile">My Profile<img class="img-nav-login" src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" /></a>
  <a class="myList" href="/list"data-toggle="tooltip" data-placement="bottom" title="My Goals">My Schedule<img class="img-list" src="https://cdn4.iconfinder.com/data/icons/stroke-business/512/date_and_time_clock-512.png"></a>
  <a class="contacts" href="/contacts"data-toggle="tooltip" data-placement="bottom" title="Contacts">Contacts<img class="contacts-img" src="https://cdn3.iconfinder.com/data/icons/users/100/contacts_book-512.png"></a>
  <a class="home" href="/publicChat"data-toggle="tooltip" data-placement="bottom" title="Home">Home<img class="home-img" src="http://dougbond.com/images/home-icon.png"></a>
  <img class="img-profile" src="https://res.cloudinary.com/crunchbase-production/image/upload/v1454008732/mnno8g6ae7mcjnawnfpx.png" />
  <h1><%= title %></h1>
</div>


<!-- Profile Texts -->
<div class="div-profile">
  <h2>hello word</h2>

  <div class='display-container'>
    <div class='display-selector'>
      <div class='selector months'>
        <div class='selector month'>Jan</div>
        <div class='selector month'>Feb</div>
        <div class='selector month active'>Mar</div>
        <div class='selector month'>Apr</div>
        <div class='selector month'>May</div>
        <div class='selector month'>Jun</div>
        <div class='selector month'>Jul</div>
        <div class='selector month'>Aug</div>
        <div class='selector month'>Sep</div>
        <div class='selector month'>Oct</div>
        <div class='selector month'>Nov</div>
        <div class='selector month'>Dec</div>
      </div>
      <div class='selector days'>
        <div class='selector day'>
          1
        </div>
        <div class='selector day'>
          2
        </div>
        <div class='selector day'>
          3
        </div>
        <div class='selector day'>
          4
        </div>
        <div class='selector day'>
          5
        </div>
        <div class='selector day'>
          6
        </div>
        <div class='selector day'>
          7
        </div>
        <div class='selector day'>
          8
        </div>
        <div class='selector day'>
          9
        </div>
        <div class='selector day'>
          10
        </div>
        <div class='selector day'>
          11
        </div>
        <div class='selector day'>
          12
        </div>
        <div class='selector day'>
          13
        </div>
        <div class='selector day'>
          14
        </div>
        <div class='selector day'>
          15
        </div>
        <div class='selector day'>
          16
        </div>
        <div class='selector day'>
          17
        </div>
        <div class='selector day'>
          18
        </div>
        <div class='selector day'>
          19
        </div>
        <div class='selector day'>
          20
        </div>
        <div class='selector day'>
          21
        </div>
        <div class='selector day'>
          22
        </div>
        <div class='selector day'>
          23
        </div>
        <div class='selector day'>
          24
        </div>
        <div class='selector day'>
          25
        </div>
        <div class='selector day'>
          26
        </div>
        <div class='selector day'>
          27
        </div>
        <div class='selector day'>
          28
        </div>
        <div class='selector day'>
          29
        </div>
        <div class='selector day'>
          30
        </div>
        <div class='selector day'>
          31
        </div>
      </div>
    </div>
    <div class='display-current'>
      <div class='current day js-current-day'></div>
      <div class='current date js-current-date' data-postfix='th'></div>
      <div class='current month js-current-month'></div>
      <p id="demo"></p>
    </div>
  </div>
</div>
